.env
build
test.py
__pycache__
*.egg-info
*.code-workspace
*cache
.backtests
*.egg-info
dist/
Odocs/
notes.txt
*.ipynb
*.log
*.csv
*.h5
*ipynb_checkpoints/
*.exe
*.iss
cmd.ps1
.vscode
CMakePresets.json
scripts.sh
