pandas
numpy==1.26.4
yfinance
scipy
hmmlearn
pmdarima
arch
hurst
seaborn
statsmodels
matplotlib
filterpy
pytest
CurrencyConverter
# Conditionally install Windows package
Metatrader5; sys_platform == 'win32'
tabulate
ipython
quantstats