numpy>=1.26.0,<2.0.0
scikit-learn
statsmodels
seaborn
lightgbm
dash
nltk
spacy
pmdarima
pyportfolioopt
alphalens-reloaded
pandas_ta
yfinance
hmmlearn
arch
hurst
filterpy
pykalman
CurrencyConverter
tabulate
python-dotenv
ipython
QuantStats
exchange-calendars
tqdm
notify-py
python-telegram-bot
eodhd
financetoolkit
PyYAML
tables
pyfiglet
colorama
praw
tweepy
beautifulsoup4
textblob
vaderSentiment
pytest 
pytest-mock
