pandas
numpy==1.26.4
yfinance
scipy
hmmlearn
pmdarima
arch
hurst
seaborn
statsmodels
matplotlib
filterpy
pykalman
pytest
CurrencyConverter
tabulate
python-dotenv
ipython
QuantStats
exchange-calendars
tqdm
scikit-learn
notify-py
python-telegram-bot
pyportfolioopt
eodhd
financetoolkit
lightgbm
alphalens-reloaded